<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: study-banner"></div>
<div class="container">
  <div class="py-5 text-center">
    <h2>
      <a th:href="@{'/study/'+ ${study.path}}">
        <span th:text="${study.title}"></span>
      </a>
      / <span th:text="${event.title}"></span>
    </h2>
  </div>
  <div class="row justify-content-center">
    <form class="needs-validation col-sm-10"
          th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/edit'}" th:object="${eventForm}" method="post" novalidate>
      <div class="form-group">
        <label for="title">모임 이름</label>
        <input id="title" type="text" th:field="*{title}" class="form-control" placeholder="모임이름" aria-describedby="titleHelp" required>
        <small id="titleHelp" class="form-text text-muted">
          모임이름 50자 이내로 작성하세요
        </small>
        <small class="invalid-feedback">모임이름을 입력하세요</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="limitOfEnrollments">모집 인원</label>
          <input id="limitOfEnrollments" type="number" th:field="*{limitOfEnrollments}" class="form-control" aria-describedby="limitOfEnrollmentsHelp">
          <small id="limitOfEnrollmentsHelp" class="form-text text-muted">
            최대 수용 가능한 모임 찾석 인원을 설정하세요. 최소 2인 이상 모임이여야 합니다.
          </small>
          <small class="invalid-feedback"></small>
          <small class="form-text text-danger" th:if="${#fields.hasErrors('limitOfEnrollments')}" th:errors="*{limitOfEnrollments}">limitOfEnrollments Error</small>
        </div>
        <div class="form-group col-md-3">
          <label for="endEnrollmentDateTime">등록 마감 일시</label>
          <input id="endEnrollmentDateTime" type="datetime-local" th:field="*{endEnrollmentDateTime}" class="form-control"
                 aria-describedby="endEnrollmentDateTimeHelp">
          <small id="endEnrollmentDateTimeHelp" class="form-text text-muted">
            등록 마감 이전에만 스터디 모임 참가 신청을 할 수 있습니다.
          </small>
          <small class="invalid-feedback">모임 신청 마감 일시를 입력하세요.</small>
          <small class="form-text text-danger" th:if="${#fields.hasErrors('endEnrollmentDateTime')}" th:errors="*{endEnrollmentDateTime}">endEnrollmentDateTime Error</small>
        </div>
        <div class="form-group col-md-3">
          <label for="startDateTime">모임 시작 일시</label>
          <input id="startDateTime" type="datetime-local" th:field="*{startDateTime}" class="form-control" aria-describedby="startDateTimeHelp">
          <small id="startDateTimeHelp" class="form-text text-muted">
            모임 시작 일시를 입력하세요. 상세 모임 일정은 본문에 적어주세요.
          </small>
          <small class="invalid-feedback">모임 시작 일시를 입력하세요.</small>
          <small class="form-text text-danger" th:if="${#fields.hasErrors('startDateTime')}" th:errors="*{startDateTime}">startDateTime Error</small>
        </div>
        <div class="form-group col-md-3">
          <label for="endDateTime">모임 종료 일시</label>
          <input id="endDateTime" type="datetime-local" th:field="*{endDateTime}" class="form-control" aria-describedby="endDateTimeHelp">
          <small id="endDateTimeHelp" class="form-text text-muted">
            모임 종료 일시가 지나면 모임은 자동으로 종료 상태로 바뀝니다.
          </small>
          <small class="invalid-feedback">모임 종료 일시를 입력하세요.</small>
          <small class="form-text text-danger" th:if="${#fields.hasErrors('endDateTime')}" th:errors="*{endDateTime}">endDateTime Error</small>
        </div>
      </div>
      <div class="form-group">
        <label for="description">모임 설명</label>
        <textarea id="description" type="text" th:field="*{description}" class="form-control" placeholder="모임을 자세히 소개해 주세요" aria-describedby="descriptionHelp" required></textarea>
        <small id="descriptionHelp" class="form-text text-muted">
          모임에서 다루는 주제, 장소, 진행 방식 등을 자세히 적어 주세요.
        </small>
        <small class="invalid-feedback">상세 소개를 입력해주세요</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</small>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">
          모임 수정
        </button>
      </div>
    </form>
  </div>
  <div class="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script type="application/javascript">
  $(function(){
    $('#description').summernote({
      fontNames: ['Arial'],
      placeholder: '스터디 목표, 일정, 방식 등등 상세히',
      tabsize:2,
      height:300
    });
  });
</script>
</body>
</html>